/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    font-family: Times, serif;
    line-height: 1.4em;
    min-width: 1200px;
    background: #f8f8f8;
}

/* Top Bar */

.top-bar {
    background: #e9e9e9;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    font-size: .62em;
    letter-spacing: .15em;
    position: relative;
    padding: .9em;
}

.top-bar .top-bar-content /* ul */{
    list-style-type: none;
    display: inline;
}

.top-bar .top-bar-content li {
    display: inline-block;
    margin-left: .75em;
    margin-right: .75em;
}

.top-bar .top-bar-content a {
    text-decoration: none;
    color: #000;
}

.top-bar #social-media {
    position: absolute;
    left: 100px;
    top: 3px;
}

.top-bar #site-links {
    position: absolute;
    right: 100px;
    top: 3px;
}

#sitesearch {
    margin-right: 5em;
}

/* Header */

header h1 {
    text-align: center;
    font-family: "Cinzel";
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .25em;
    font-size: 2.5em;
    padding: .5em 0em 0em 0em;
}

/* Main-Nav */

.sub-header {
    text-align: center;
    position: relative;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: .07em;
    z-index: 20;
}

.sub-header a {
    text-decoration: none;
}

.sub-header .main-nav-section /* ul */ {
    list-style-type: none;
    display: inline;
}

.sub-header li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
}

#date {
    position: absolute;
    left: 100px;
    font-size: .6em;
    transform: translateY(10%);
}

#site-nav-links {
    position: absolute;
    transform: translate(-58%,10%);
}

#site-nav-links a {
    color: #888888;
    font-size: .9em;
}

#site-nav-links a:hover {
    color: #000;
}

#site-nav-links li ul {
    display: none;
    position: absolute;
    text-align: left;
    left: -6em;
    font-size: .8em;
    width: 190px;
    padding: 1.5em;
    font-size: 1em;
    background: #f8f8f8;
    border: 1px solid #c0c0c0;
}

#site-nav-links li ul li:nth-of-type(3) {
    text-decoration: none;
}

#site-nav-links li:hover ul {
    display: block;
}

#site-nav-links li li {
    float: none;
    border-bottom: .05px solid #a9a9a9;
}

#subscribe {
    position: absolute;
    right: 100px;
    top: 8px;
}

#subscribe a {
    color: #fff;
    font-size: .6em;
}

#ellipse {
    position: relative;
    width: 90px;
    height: 15px;
    background: black;
    -moz-border-radius: 30px;
    -webkit-border-radiu: 30px;
    border-radius: 30px;
}

#ellipse li {
    position: absolute;
    transform: translateY(-15%);
    left: 3px;
}

/* Main Content Images */

.slideshow {
    margin-top: 4em;
}

.slideshow .main-image {
    margin: 0em;
    position: relative;
    float: left;
    width: 50%;
    z-index: 10;
}

.slideshow .main-image img {
    display: block;
}

.slideshow .main-image figcaption {
    position: absolute;
    bottom: 0;
    width: 50%;
    padding: 1em;
    background: hsla(359, 0%, 0%, 0.4);
    color: #fff;
    width: 100%;
    overflow: auto;
}

.slideshow .main-image figcaption h2, h3, a {
    font-family: "Gill Sans";
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .1em;
}

.slideshow .main-image figcaption h2 {
    font-size: .9em;
}

.slideshow .main-image figcaption h3 {
    font-size: .5em;
    color: #c0c0c0;
}

.slideshow .main-image figcaption p {
    font-family: "Garamond";
}

.slideshow .main-image figcaption a {
    font-size: .5em;
    color: #fff;
}

/* Stories */

.main-content {
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
}

.story {
    border: 1px solid red;
    width: 40%;
    float: left;
    padding: .5em;
}

.story img {
    width: 100%;
}

/* Page Articles */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
